

{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Your saved Programs</h1>
</div>
<br>
<p><button class="btn btn-outline-primary" onclick="openNewProgModal()">Create a new program</button></p>
<div id="allProgramsDiv">
 <!-- populated with programs in async call at DOMContent load -->
</div>
<div id="newProgramModal" class="modal">
    <div class="modal-content">
    <span class="modal-close" onclick="closeNewProgramModal()">&times;</span>
        <form autocomplete="off" enctype="multipart/form-data">
            <div class="container">
                <div class="container" id="programDefinitionArea" style="border-style: inset;">
                    <div class="row">
                        <input id="programNameInput" class="form-control" type="text" placeholder="Enter a program name...">
                    </div>
                    <div class="row">
                        <input id="programDescriptionInput" class="form-control" type="text" placeholder="Enter program description...">
                    </div>
                    <br>
                    <p><a class="btn btn-outline-secondary" onclick="addProgram()">Create New Program</a></p>
                </div>
            </div>
        </form>
    </div>
    
</div>
<script>
    modal = document.getElementById("newProgramModal");
    function openNewProgModal(){
        modal.style.display = "block";
        window.onclick = function(event) {
            if (event.target == modal) {
                closeNewProgramModal();
            }
        }
    }
    function closeNewProgramModal(){
        modal.style.display = "none";
    }
    document.addEventListener("DOMContentLoaded", function(){
        // load the programs async
        // have to make sure main.js and jquery is loaded beforehand
        loadPrograms();
    });
</script>
{% endblock %}

